<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/logo.png" width="auto" height="32px" alt="Home" />
    </a>

    <button
      class="navbar-toggler btn"
      type="button"
      (click)="toggleMobileMenu()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse d-lg-flex justify-content-end"
      [ngClass]="expandMobileMenu ? 'show' : ''"
    >
      @if (isAuth()) {
      <ul class="navbar-nav mr-auto w-100 d-flex align-items-lg-center">
        <li class="nav-item mx-1">
          <a class="nav-link" routerLink="/visited">
            <span translate>Visited (<app-counter-value [type]="'visited'"></app-counter-value>)</span>
          </a>
        </li>

        <li class="nav-item mx-1">
          <a class="nav-link" routerLinkActive="active" routerLink="/wish">
            <span translate>Wish (<app-counter-value [type]="'wish'"></app-counter-value>)</span>
          </a>
        </li>
      </ul>
      }

      <ul class="navbar-nav d-flex align-items-lg-center m-2 gap-2">
        @if (isAuth()) {
        <button class="mx-2 btn btn-secondary" (click)="logout()">Logout</button>
        } @else {
        <button class="mx-2 btn btn-outline-secondary" routerLink="/register">
          Register
        </button>
        <button class="mx-2 btn btn-secondary" routerLink="/login">Login</button>
        }
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
